:root {
    --menu_bgcolor: #FFFFFF;
    --bgcolor_content: #F8F8F8;
    --inner_bgcolor_content: #FFFFFF;
    --click-bgcolor: radial-gradient(129.34% 1396.27% at 22.84% 50.65%, #FD822D 0%, #F74B49 100%);
    --click_delete_bgcolor: #F8F8F8;
    --click_delete-color: #F74B49;
    --inputs_bgcolor: #F8F8F8;
    --li_bgcolor_of_menu: linear-gradient(270.29deg, rgba(253, 130, 45, 0.16) 0.26%, rgba(253, 130, 45, 0) 99.81%);
    --menu_color: #89877B;
    --placeholder_color: #89877B;
    --li_bgcolor_of_list: radial-gradient(10.89% 2374.44% at 0% 50.77%, rgba(254, 169, 12, 0.128) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(10.94% 2385.8% at 100% 50.77%, rgba(247, 75, 73, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    --content_color: #3D3B30;
    --numbers-clicked_menu_color: #11100C;
    --border_color: linear-gradient(90deg, #FEA90C 0%, #F74B49 100%);
    --page_number_color: #FD822D;
    --row_color_blue:#2F80ED;
    --row_color_red:#C0302E;
    --row_color_green:#219653;
    --row_color_yellow:#CF8C11;
}
/* *****************************

BVSelect Jquery Plugin Styles
Developed by: Bruno Vieira

**************************** */
.bv_mainselect {
	color: #fff;
	padding: 1px;
	border-radius: 16px;
	font-family: Arial;
	font-size: 10pt;
	position: relative;
	z-index: auto;
	/* background-color:red; */
}
/* .bv_mainselect > div:nth-child(2){

} */
.bv_atual {
	color: #535353;
	/* font-size: 11pt; */
	padding: 12px;
	padding-right: 36PX;
	/* border: 2px solid #e1e1e1; */
	border-radius: 16px;
	cursor: pointer;
	z-index:10;
	position: relative;
	
}
.bv_disabled {
	background-color: #e6e6e6!important;
	cursor: default!important;
}
.bv_separator {
	font-weight: 700;
	color: #282828!important;
	cursor:default!important;
	background-color:transparent!important;
}
.bv_background {
	background-color: var(--inputs_bgcolor)
}
.bv_mainselect .arrow {
	border: solid transparent;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	float: left;
	pointer-events: none;

} 
.bv_mainselect .up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin-top: 5px;
	transition: all .2s ease
}
 .bv_mainselect .down {
	transition: all .2s ease;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-top: 2px
}

.bv_ul_mobile {
	width: 80% !important;
	position: fixed !important;
	top: 5% !important;
	left: 10% !important;
	border: 0px !important;
	height: 90% !important;
	margin: 0px !important;
	overflow-y: scroll;
	z-index: 100 !important;
	max-height:100%!important;
}

.bv_ul_bg
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	 z-index: 50;
}

.bv_ul_mobile li
{
	padding:20px!important;
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.bv_ul_inner {
	position: absolute ;
	margin-top: 10px;
	padding: 10px;
	display: none;
	border: 2px solid #e1e1e1;
	border-radius: 16px;
	display: none;
	z-index: 200 !important;
	max-height: 400px;
	overflow-x: auto;
	width: 100% ;
}

.bv_ul_inner li {
    cursor: pointer;
    list-style: none;
    color: #353535;
    padding: 5px 0 5px 9px;
    font-family: arial;
    font-size: 10pt;
	padding: 12px 28px 10px 10px;
}

.bv_ul_inner i {
    color: #464646;
    font-size: 17pt;
    margin-right: 10px;
    float: left;
    margin-top: -1px;
    margin-left: 3px;
}

.bv_ul_inner li img{
	float: left;
	margin-right: 11px;
	position: relative;
	bottom: 6px;
	max-width: 30px; /* Change to fit your images */
}

.bv_ul_inner li input
{
	padding: 0px;
	border: 0px;
	    border-bottom-color: currentcolor;
	    border-bottom-style: none;
	    border-bottom-width: 0px;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: 0px;
	color: black;
	height: 38px;
	width: 100%;
	background-color: transparent;
	font-size: 10pt;
	font-weight: bold;
}
.bv_ul_inner li:hover {
	background-color: #eee
}
.nofocus
{
	background-color: rgba(255, 255, 255, 0.1) !important;
	padding: 0px !important;
	border-bottom: 2px solid #e1e1e1;
}
.innerinput
{
	padding: 0px 9px 0px 10px;
}
*:focus {
    outline: none!important;
}